 firewall {
     all-ping enable
     broadcast-ping disable
     group {
         network-group RFC1918_PRIVATE {
             network 192.168.0.0/16
             network 172.16.0.0/12
             network 10.0.0.0/8
         }
     }
     ipv6-receive-redirects disable
     ipv6-src-route disable
     ip-src-route disable
     log-martians disable
     modify balance {
         rule 10 {
             action modify
             description "Do not load balance LAN2LAN"
             destination {
                 group {
                     network-group RFC1918_PRIVATE
                 }
             }
             modify {
                 table main
             }
         }
         rule 20 {
             action modify
             description "Do not load balance destination public address"
             destination {
                 group {
                     address-group ADDRv4_eth1
                 }
             }
             modify {
                 table main
             }
         }
         rule 30 {
             action modify
             description "Do not load balance destination public address"
             destination {
                 group {
                     address-group ADDRv4_eth1
                 }
             }
             modify {
                 table main
             }
         }
         rule 110 {
             action modify
             modify {
                 lb-group G
             }
         }
     }
     name VTUN_IN {
         default-action drop
         description ""
         rule 1 {
             action accept
             description "Allow established, related"
             disable
             log disable
             protocol all
             state {
                 established enable
                 invalid disable
                 new disable
                 related enable
             }
         }
         rule 2 {
             action drop
             description "Drop invalid state"
             disable
             log disable
             protocol all
             state {
                 established disable
                 invalid enable
                 new disable
                 related disable
             }
         }
     }
     name WAN_IN {
         default-action drop
         description "WAN to internal"
         rule 10 {
             action accept
             description "Allow established/related"
             log disable
             state {
                 established enable
                 related enable
             }
         }
         rule 20 {
             action drop
             description "Drop invalid state"
             log disable
             state {
                 invalid enable
             }
         }
     }
     name WAN_LOCAL {
         default-action drop
         description "WAN to router"
         rule 10 {
             action accept
             description "Allow established/related"
             log disable
             state {
                 established enable
                 related enable
             }
         }
         rule 20 {
             action drop
             description "Drop invalid state"
             log disable
             state {
                 invalid enable
             }
         }
     }
     receive-redirects disable
     send-redirects enable
     source-validation disable
     syn-cookies enable
 }
 interfaces {
     ethernet eth0 {
         address dhcp
         description Fios
         dhcp-options {
             default-route update
             default-route-distance 1
             name-server no-update
         }
         duplex auto
         firewall {
             in {
                 name WAN_IN
             }
             local {
                 name WAN_LOCAL
             }
         }
         poe {
             output off
         }
         speed auto
     }
     ethernet eth1 {
         address dhcp
         description Spectrum
         dhcp-options {
             default-route update
             default-route-distance 2
             name-server no-update
         }
         duplex auto
         firewall {
             in {
                 name WAN_IN
             }
             local {
                 name WAN_LOCAL
             }
         }
         poe {
             output off
         }
         speed auto
     }
     ethernet eth2 {
         address 192.168.1.1/24
         description Local
         duplex auto
         firewall {
         }
         speed auto
     }
     ethernet eth3 {
         address 192.168.2.1/24
         description MediaWiFi
         duplex auto
         poe {
             output off
         }
         speed auto
     }
     ethernet eth4 {
         address 192.168.3.1/24
         description Management
         duplex auto
         poe {
             output off
         }
         speed auto
     }
     ethernet eth5 {
         duplex auto
         speed auto
     }
     loopback lo {
     }
     openvpn vtun0 {
         config-file /config/auth/eth0-us5.ovpn
         encryption aes256
         local-host 68.129.200.236
         replace-default-route {
             local
         }
         tls {
             ca-cert-file /config/auth/vyprvpn_ca.pem
         }
     }
 }
 load-balance {
     group G {
         interface eth0 {
             route-test {
                 count {
                     failure 3
                     success 1
                 }
                 initial-delay 60
                 interval 5
                 type {
                     ping {
                         target 1.1.1.1
                     }
                 }
             }
         }
         interface eth1 {
             failover-only
             route-test {
                 count {
                     failure 3
                     success 1
                 }
                 initial-delay 60
                 interval 5
                 type {
                     ping {
                         target 1.1.1.1
                     }
                 }
             }
         }
         lb-local disable
         lb-local-metric-change enable
         transition-script /config/scripts/lb-transition
     }
 }
 port-forward {
     auto-firewall enable
     hairpin-nat disable
     lan-interface eth2
     lan-interface eth3
     lan-interface eth4
     wan-interface vtun0
 }
 protocols {
     static {
     }
 }
 service {
     dhcp-server {
         disabled false
         hostfile-update disable
         shared-network-name Wireless {
             authoritative disable
             subnet 192.168.2.0/24 {
                 default-router 192.168.2.1
                 dns-server 192.168.2.1
                 lease 86400
                 start 192.168.2.100 {
                     stop 192.168.2.200
                 }
                 unifi-controller 192.168.2.2
             }
         }
         shared-network-name LAN {
             authoritative enable
             subnet 192.168.1.0/24 {
                 default-router 192.168.1.1
                 dns-server 192.168.1.1
                 lease 86400
                 start 192.168.1.38 {
                     stop 192.168.1.243
                 }
             }
         }
         shared-network-name Management {
             authoritative disable
             subnet 192.168.3.0/24 {
                 default-router 192.168.3.1
                 dns-server 192.168.3.1
                 lease 86400
                 start 192.168.3.100 {
                     stop 192.168.3.200
                 }
                 unifi-controller 192.168.2.2
             }
         }
         static-arp disable
         use-dnsmasq disable
     }
     dns {
         forwarding {
             cache-size 2048
             listen-on eth2
             listen-on eth3
             listen-on eth4
             options bogus-nxdomain=198.105.254.11
             options bogus-nxdomain=104.239.213.7
             options domain=private
         }
     }
     gui {
         http-port 80
         https-port 443
         older-ciphers enable
     }
     nat {
         rule 5000 {
             description "masquerade for VTUN0"
             outbound-interface vtun0
             type masquerade
         }
     }
     snmp {
         community stats {
         }
         contact "Vladimir Putin"
         location Russia
     }
     ssh {
         port 22
         protocol-version v2
     }
     ubnt-discover {
         disable
     }
     unms {
         disable
     }
 }
 system {
     conntrack {
         expect-table-size 4096
         hash-size 4096
         table-size 32768
         tcp {
             half-open-connections 512
             loose enable
             max-retrans 3
         }
     }
     domain-name private
     host-name keeper
     ipv6 {
         disable
     }
     login {
         user ubnt {
             authentication {
                 encrypted-password <REDACTED>
             }
             level admin
         }
     }
     name-server 4.2.2.2
     name-server 4.2.2.3
     name-server 4.2.2.4
     name-server 4.2.2.5
     package {
         repository wheezy {
             components "main contrib non-free"
             distribution wheezy
             password ""
             url http://http.us.debian.org/debian
             username ""
         }
     }
     syslog {
         global {
             facility all {
                 level notice
             }
             facility protocols {
                 level debug
             }
         }
     }
     time-zone UTC
 }
